html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



:root {
	--form-padding: 4rem;
}

* {
	font-family: 'Lato', sans-serif !important;
}


html {
  height: 100vh;
  width: 100vw;
}

em {
	font-style: italic;
}

.wrapper {
  display: flex;
}


.image-holder {
  overflow: hidden;
  flex: 1;
}

.image-holder > img {
	height: 100vh;
	object-position: -23rem;
}

/*User form styling*/
.user-form-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	padding-bottom: 5em;
  flex: 2;
}

.user-form {
	box-shadow: 5px 3px 8px rgba(123, 123, 123, 0.44);
	padding-left: var(--form-padding);
	padding-bottom: .5em;
}

.form-column-container {
	width: 72%;
	display: flex;
}

.form-column-1,
.form-column-2 {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	flex: 1;
}

.input-holder {
	position: relative;
}

input {
	margin: 2em 0;
	width: max(75%, 10em);
	height: 2.5em;
	border-radius: 8px;
	border: 1px solid rgba(123, 123, 123, 0.325);
}

label {
	font-size: calc(.25vw + 10px);
	letter-spacing: 2px;
	text-transform: uppercase;
	position: absolute;
	top: .5em;
}

.introduction-container {
	padding-top: 8em;
	padding-right: max(5rem, 25%);
	padding-left: var(--form-padding);
	margin-bottom: 4em;
	font-weight: bold;
}

.introduction {
	font-size: calc(1vw + 10px);
	line-height: calc(2vw + 15px);
}

.persuasion {
	font-size: calc(.75vw + 10px);
	margin-top: 1em;
}

.form-title {
	font-size: calc(.80vw + 15px);
	margin-top: .5em;
	margin-bottom: 1em;
}

.create-account-button {
	font-weight: bold;
	font-size: calc(.4vw + 15px);
	position: relative;
	margin-left: var(--form-padding);
	margin-top: 1.5em;
	height: max(3rem, 3vw);
	width: max(10rem, 27%);
	text-align: center;
	border-radius: 10px;
	color: white;
	background-color: rgb(69, 69, 197);
	box-shadow: 2px 5px 5px rgba(123, 123, 123, 0.528);
	border: 0;
}

.log-in {
	font-size: calc(.3vw + 15px);
	margin-left: var(--form-padding);
	position: relative;
	margin-top: 2em;
}

.log-in-link {
	text-decoration: none;
	color: blue;
	font-weight: bold;
}

@media screen and (max-width: 722px) {

	.introduction-container {
		margin-top: 1em;
	}

  .form-column-container {
    flex-direction: column;
  }

	.image-holder > img {
		height: 65vh;
		object-position: -10rem;
		width: 150vw;
	}

	.form-column-2 {
		margin-top: -15px;
	}

	.wrapper {
		flex-direction: column;
	}

	.create-account-button {
		position: static;
	}

	.log-in {
		position: static;
		margin-top: 2em;
	}
}