html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}







html {
  height: 100vh;
  width: 100vw;
}

em {
	font-style: italic;
}

.wrapper {
  display: flex;
}


.image-holder {
  overflow: hidden;
  flex: 1;
}

.image-holder > img {
	height: 100vh;
	object-position: -20rem;
}

/*User form styling*/
.user-form-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	padding-bottom: 5em;
  flex: 1.45;
}

.user-form {
	box-shadow: 5px 3px 8px rgba(123, 123, 123, 0.44);
	padding-left: 5rem;
}

.form-column-container {
	display: flex;
	gap: 1em;
}

.form-column-1,
.form-column-2 {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	flex: 1;
}

.input-holder {
	position: relative;
}

input {
	margin: 1.80em 0;
	width: max(75%, 10em);
}

label {
	font-size: calc(.5vw + 12px);
	text-transform: capitalize;
	position: absolute;
}

.introduction-container {
	padding-right: max(5rem, 25%);
	padding-left: 5rem;
}

.introduction {
	font-size: calc(1.40vw + 10px);
	line-height: calc(2vw + 15px);
}

.persuasion {
	font-size: calc(1.05vw + 10px);
	margin-top: 1em;
}

.form-title {
	font-size: calc(1vw + 15px);
	margin-top: 1em;
	margin-bottom: 2em;
}

@media screen and (max-width: 600px) {
  .form-column-container {
    flex-direction: column;
  }

	.image-holder > img {
		height: 65vh;
		object-position: -10rem;
	}

	.form-column-2 {
		margin-top: -15px;
	}

	.wrapper {
		flex-direction: column;
	}
}